.title-text-acc {
	text-align: center;
	font-size: 40px;
}

.accordion-wrapper {
	max-width: 800px;
	margin: 0 auto;
	padding-top: 125px;
}

.accordion-stuff {
	display: flex;
	justify-content: center;
}

.accordion-stuff li {
	width: 80px;
	overflow: hidden;
	padding: 1px 1px 0;
	cursor: pointer;
	display: block;
	box-shadow: 1px 3px 15px #F0E68C;
	transition: all 1.5s;
}

.accordion-stuff li:hover {
	width: 500px;
	box-shadow: 1px 3px 15px #287233;
	transition: all 1s;
}

.accordion-stuff li:nth-child(4) {
	width: 500px;
}

.accordion-stuff:hover li:nth-child(4) {
	width: 80px;
}

.accordion-stuff li:nth-child(4):hover {
	width: 500px;
}

.accordion-img {
	width: 500px;
}